@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">        
        <div class="col-md-1"></div>
        <div class="form-group materail-input-block materail-input-block_primary col-md-3">
            <input type="password" name="OldPassword" class="form-control materail-input" placeholder="Old Password"/>
            <span asp-validation-for="OldPassword" class="materail-input-block__line text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-1"></div>
        <div class="form-group materail-input-block materail-input-block_primary col-md-3">
            <input type="password" asp-for="NewPassword"  class="form-control materail-input" placeholder="New Password" />
            <span asp-validation-for="NewPassword" class="materail-input-block__line text-danger"></span>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-1"></div>
        <div class="form-group materail-input-block materail-input-block_primary col-md-3">
            <input type="password" name="ConfirmPassword" class="form-control materail-input" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="materail-input-block__line text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
