@model coursesProject.Models.Project

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="CreateProject" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label  class="col-md-2 control-label">Project name</label>
            <div class="col-md-10">
                <input type="text" name="NameProject" class="form-control" />
                <span asp-validation-for="NameProject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> End date</label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Avatar</label>
            <div class="col-md-10">
                <input name="Avatar" type="file" class="form-control" />            
                @*<input asp-for="Avatar" class="form-control" />*@
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" name="Descrtiption" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label  class="col-md-2 control-label"> Short Description</label>
            <div class="col-md-10">
                <input type="text" name="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label  class="col-md-2 control-label"> Category</label>
            <div class="col-md-10">
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label class="col-md-2 control-label">Need Money</label>
            <div class="col-md-10">
                <input asp-for="NeedMoney" class="form-control" />
                <span asp-validation-for="NeedMoney" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"> Goal</label>
            <div class="col-md-10">
                <input asp-for="Goal" class="form-control" />
                <span asp-validation-for="Goal" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<form asp-action="CreateProject">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NameProject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NameProject" class="form-control" />
                <span asp-validation-for="NameProject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Raiting" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Raiting" class="form-control" />
                <span asp-validation-for="Raiting" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

