@model IEnumerable<coursesProject.Models.ProjectViewModels.MinProjectViewModel>

    @{
        ViewData["Title"] = "Search";
    }
    <style>
        /* enable absolute positioning */
        .inner-addon {
            position: relative;
        }

            /* style icon */
            .inner-addon .glyphicon {
                position: absolute;
                padding: 10px;
                pointer-events: none;
            }

        /* align icon */
        .left-addon .glyphicon {
            left: 0px;
        }

        .right-addon .glyphicon {
            right: 0px;
        }

        /* add padding  */
        .left-addon input {
            padding-left: 30px;
        }

        .right-addon input {
            padding-right: 30px;
        }
    </style>

    <p>
        <h4>
            <a asp-action="Create">Create New</a>
        </h4>
    </p>

<form asp-action="Search" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-3">		
                <div class="form-group materail-input-block materail-input-block_primary materail-input_slide-line">
                    <input type="text" name="Search" style="margin-left: 10px" class="form-control materail-input" placeholder="Search">
                    <span class="materail-input-block__line"></span>
                </div>
                <text class="text-danger">
                    @ViewBag.search
                </text>
            </div>
        </div>
    </div>
</form>

@if (!Model.Any())
{
    <p>
        <h1>Projects didn't found</h1>
    </p>
}

<div class="row">
    @foreach (var item in Model.Reverse())
    {
        <div class="col-md-4">
            <div class="thumbnail material-card">
                <header class="material-card__header">
                    <img src="data:image/jpg;base64,@(Convert.ToBase64String(item.AvatarByte))" style="height: 277px; width: 360px;" alt="Thumbnail label"/>
                </header>
                <div class="material-card__content">
                    <h3 class="material-card__title">@Html.DisplayFor(model => item.NameProject)</h3>
                    <p>@Html.Raw(item.MinDescription)</p>
                </div>
                <footer class="material-card__footer">
                    <a href="/Projects/Details/@item.Project" class="btn material-btn material-btn_primary material-card__showmore material-btn_sm">Show more</a>
                </footer>
            </div>
        </div>
    }
</div>
